/* .btn.btn-outline-crawl {
  border-color: rgb(75, 213, 238);
  color: rgb(75, 213, 238);
}
.btn.btn-outline-crawl:hover {
  background-color: rgb(75, 213, 238);
  color: white;
}

.btn.btn-outline-crawl:disabled {
  background-color: transparent;
  border-color: rgb(75, 213, 238);
  color: rgb(75, 213, 238);
} */

.loader::before {
  content: '';
  display: block;
  width: 5rem;
  height: 5rem;
  background-image: url('https://i.pinimg.com/originals/60/b7/30/60b73041000047d4e8737d4eee9c5a08.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation-name: spin;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
